{% extends "container.html" %}
{% block content %}
    <h1>Welcome to Pi-Hue!</h1>
    <p>Hey, you really did it. Congrats!</p>
    <p>For real, we're really proud of you.</p>

    <h5>Set the color temp!</h5>
    <form id="setCt" name="colorTemp">
        <label>Color Temp:</label>
        <input name="ct" type="number" />

        <label>Room:</label>
        <input name="room" type="text" />
        <button>Change Temp</button>
    </form>

    <h5>Try to take a picture!</h5>
    <button id="takePicture">[ o ] Picture</button>

    <h5>Get a reading!</h5>
    <button id="getReading">[ 123 ] Reading</button>


    <h2>Last 10 Readings</h2>
    <table>
        <tr>
            <th>Reading</th>
            <th>Time</th>
        </tr>
        {% for row in rows %}
            <tr>
                <td>{{row["light_reading"]}}</td>
                <td>{{row["reading_time"]}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}